<h1>Login Form</h1>
<!-- <p>Find me in app/views/sessions/new.html.erb</p>
 -->
<div class="row">
  <%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', :required => true %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', :required => true %>

  <%= f.submit "Login", class: 'btn' %>
  <% end %>
  <p><%= link_to 'Sign Up', signup_path %></p>

</div>