<h1><%= @auth.name %>'s Task List</h1>

<!-- <p><small>Tasks#index - Find me in app/views/tasks/index.html.erb</small></p> -->

<% if @task.errors.any? %>
<div class="card red lighten-3">
  <div class="card-content white-text">
    <span class="card-title red-text text-darken-3">
      <b><%= @task.errors.count %>個の項目に入力不備がありました。</b>
    </span>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">add</i>Create New Task</div>
    <div class="collapsible-body">
      <%= form_for(@task) do |f| %>
      <div class="input-field col s6">
        <%= f.text_field :task, :required => true %>
        <%= f.label :task %>
      </div>

      <div class="input-field col s6">
        <%= f.select(:state, [['todo', 'todo'], ['doing', 'doing'], ['done', 'done']]) %>
        <%= f.label :state %>
      </div>

      <div class="input-field col s6">
        <%= f.text_field :free_comment %>
        <%= f.label :free_comment %>
      </div>

      <div class="input-field col s6">
       <%= f.text_field :limit_date, class: "datepicker", :required => true %>
       <%= f.label :limit_date %>
     </div>

     <%= f.submit "Create New task", class: "btn" %>

     <% end %>
   </div>
 </li>
</ul>

<% if !@auth.tasks.nil? %>
<table>
  <thead>
    <tr>
      <th width="100px">State</th>
      <th width="100px">Limit</th>
      <th>Task</th>
      <th width="50px"></th>
      <th width="50px"></th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @auth.tasks.each do |t| %>
    <tr id="task-<%= t.id %>">
      <td>
        <% if    t.state == 'todo' %>
        <p class="btn btn-small  btn-block"><%= t.state %></p>
        <% elsif t.state == 'doing' %>
        <p class="btn btn-small  btn-block amber"><%= t.state %></p>
        <% elsif t.state == 'done' %>
        <p class="btn btn-small disabled btn-block grey"><%= t.state %></p>
        <% else %>
        <p class="btn btn-small disabled btn-block"><%= t.state %></p>
        <% end %>
      </td>
      <td>
        <%
        today = Date.today
        diff  = t.limit_date - today
        %>
        <% if    diff.to_i <= 0 %>
        <b class="red-text text-lighten-2"><%= t.limit_date %></b>
        <% elsif diff.to_i <= 3 %>
        <b class="amber-text"><%= t.limit_date %></b>
        <% else %>
        <b><%= t.limit_date %></b>
        <% end %>
      </td>
      <td>
        <%= t.task %>
        <% if t.free_comment.length > 0 %>
        <a class="waves-effect waves-light btn btn-small btn-floating blue modal-trigger" href="#comment-<%= t.id %>"><i class="material-icons">search</i></a>
        <% end %>
      </td>
      <td>
        <% if t.state != 'done' %>
        <%= form_for(t, url: "/tasks/#{t.id}", html: { method: 'PUT' }) do |f| %>
        <input type="hidden" name="task[state]" value="done">
        <button type="submit" class="btn green btn-floating btn-small">
          <i class="material-icons">check</i>
        </button>
        <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to("/tasks/#{t.id}", class: "btn btn-floating btn-small") do %>
        <i class="material-icons">edit</i>
        <% end%>
      </td>
      <td>
        <%= link_to("/tasks/#{t.id}", class: "btn red btn-floating btn-small", method: "DELETE") do %>
        <i class="material-icons">delete</i>
        <% end%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% @auth.tasks.each do |t|  %>
<% if t.free_comment.length == 0
  next
end
%>
<!-- Modal Structure -->
<div id="comment-<%= t.id %>" class="modal">
  <div class="modal-content">
    <h4><%= t.task %></h4>
    <p><%= t.free_comment %></p>
  </div>
</div>
<% end %>
<% end # !@auth.tasks.nil? %>

<script>
  var elems = document.querySelectorAll('.datepicker')
  var min   = new Date()
  var instances = M.Datepicker.init(elems, {
    autoClose      : true,
    format         : 'yyyy/m/d',
    minDate        : min,
  });
</script>